<div id="tournaments">
  <nav class="breadcrumb">
    <%= link_to "Admin", admin_root_path %>
  </nav>
  <header>
    <h1>Tournaments</h1>
  </header>
  <%= button_to "Add Tournament", new_admin_tournament_path, method: "get" %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Location</th>
        <th>Category</th>
        <th>Weapon</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= link_to tournament.title, admin_tournament_path(tournament) %></td>
          <td>
            <% if tournament.country_id %>
              <%= tournament.country.name %></td>
            <% else %>
              not set
            <% end %>
          <td><%= tournament.location %></td>
          <td><%= tournament.category.name %></td>
          <td><% tournament.weapons.each do |weapon| %>
            <%= weapon.name %>
          <% end %></td>
          <td>
            <%= link_to "Edit", edit_admin_tournament_path(tournament) %>&nbsp;
            <%= link_to "Delete", admin_tournament_path(tournament), method: :delete,
              data: { confirm: "Are you sure you want to delete this tournament?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
    </tbody>
  </table>
</div>
