<div id="tournaments">
  <header>
    <h1>Tournaments</h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Location</th>
        <th>Category</th>
        <th>Weapon</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= tournament.title %></td>
          <td><%= tournament.country.name %></td>
          <td><%= tournament.location %></td>
          <td><%= tournament.category.name %></td>
          <td><% tournament.weapons.each do |weapon| %>
            <%= weapon.name %>
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
    </tbody>
  </table>
</div>
