<div id="tournaments">
  <nav>
    <ul>
      <li><%= link_to "Tournaments", admin_tournaments_path %></li>
    </ul>
  </nav>
  <article>
    <header>
      <h1><%= @tournament.title %></h1>
    </header>
    <section class="date">
      <p>Startdate: <%= @tournament.start_date.strftime("%d/%m/%Y") if @tournament.start_date %><br>
      Enddate: <%= @tournament.end_date.strftime("%d/%m/%Y") if @tournament.end_date %><br>Closingdate: <%= @tournament.end_date.strftime("%d/%m/%Y") if @tournament.closing_date %>
  </section>
    <section>
      <p>Country: <%= @tournament.country.name %><br>
      Location: <%= @tournament.location %></p>
    </section>
    <p>Category: <%= @tournament.category.name %><br></p>
    <p>Organisation: <%= link_to @tournament.organization.name, admin_organization_path(@tournament.organization) %></p>
    <p>Weapons:
    <% @tournament.weapons.each do |weapon| %>
      <%= weapon.name %>
  <% end %>
    </p>

    <p>Website: <%= link_to @tournament.link %></p>
  </article>
</div>
