<div id="filterrific_results">

  <table>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>Location</th>
      <th>Category</th>
      <th>Weapon</th>
      <th>Link</th>
    </tr>
    <% tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to(tournament.title, tournament_path(tournament)) %></td>
        <td><%= tournament.country_name %></td>
        <td><%= tournament.location %></td>
        <td><%= tournament.category.name %></td>
        <td>
          <% tournament.weapons.each do |weapon| %>
          <%= weapon.name %>
          <% end %>
        </td>
        <td><%= link_to tournament.link %></td>
      </tr>
    <% end %>
  </table>
</div>

