<div id="tournaments">
<article>
  <header>
    <h1><%= @tournament.title %></h1>
  </header>
  <section class="date">
    <p><strong>Startdate:</strong> <%= @tournament.start_date.strftime("%d/%m/%Y") if @tournament.start_date %><br>
    <strong>Enddate:</strong> <%= @tournament.end_date.strftime("%d/%m/%Y") if @tournament.end_date %><br>
    <strong>Closingdate:</strong> <%= @tournament.end_date.strftime("%d/%m/%Y") if @tournament.closing_date %>
  </section>
  <section>
    <p><strong>Country:</strong> <%= @tournament.country.name %><br>
    <strong>Location:</strong> <%= @tournament.location %></p>
    <% if @tournament.venue.present? %>
      <strong>Venue:</strong> <%= simple_format(@tournament.venue) %>
    <% end %>
  </section>
  <p>
  <strong>Weapons:</strong>
  <% @tournament.weapons.each do |weapon| %>
    <%= weapon.name %>
  <% end %>
    <br>
    <strong>Category:</strong> <%= @tournament.category.name %>
  </p>
  <% if @tournament.organization.present? %>
    <p><strong>Organization:</strong>
    <% if @tournament.organization.link.present? %>
      <%= link_to @tournament.organization.name, @tournament.organization.link %>
    <% else %>
      <%= @tournament.organization.name %>
    <% end %>
    </p>
  <% end %>
  <% if @tournament.link.present? %>
    <p><strong>Link:</strong> <%= link_to @tournament.link, @tournament.link %></p>
  <% end %>
  
</article>
</div>
